.section {
  margin-bottom: 5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.full-width {
    width: 100%;
  }
}

.announcement {
  font-size: 0.75em;
  opacity: 0.75;
  text-align: center;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 1.5em;
  margin-top: 1.5em;
}

@media (max-width: 800px) {
  .section {
    margin-bottom: 3em;
  }

  .grid {
    grid-gap: 1em;
  }

  .navigation {
    flex-direction: column;
    align-items: start;
  }

  .totally-random-button {
    margin-top: 1em;
  }
}
