.section {
  margin-bottom: 5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1.5em;
  margin-top: 1.5em;
}

@media (max-width: 800px) {
  .section {
    margin-bottom: 3em;
  }

  .grid {
    grid-gap: 1em;
  }
}
