.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 60%;
  max-width: 800px;
  padding: 2em;

  .input {
    min-width: 5em;
    max-width: 10em;
    margin-bottom: .5em;
  }
}
