@import '../variables';
@import '../mixins/link';

.wrapper {
  margin-top: 1em;

  .title {
    margin-bottom: 1em;
  }

  .player-wrapper {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    $height: calc(100vh - 12em);
    height: $height;
    min-height: 5em;
  }

  .player {
    $height: calc(100vh - 12em);

    max-width: calc(#{$height} * 16 / 9);
    width:  calc(#{$height} * 16 / 9);
  }

  .description {
    margin: 1em 0;
    line-height: 1.4em;
    color: $light-grey;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1em;
  }
}
