@import '../variables';
@import '../mixins/link';

$playerHeight: 60vmin;

.wrapper {
  margin-top: 1em;

  .title {
    margin-bottom: 1em;
  }

  .player-wrapper {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: $playerHeight;
    min-height: 5em;
  }

  .description {
    margin: 1em 0;
    line-height: 1.4em;
    color: $light-grey;
    white-space: pre-wrap;
  }

  .hidden {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1em;
  }
}
