@import '../color-schemes';
@import '../mixins/aspect-ratio';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
}

.heading {
  display: flex;
  align-items: center;
}

.icon {
  @include aspect-ratio(1, 1);

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 3em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.title {
  @each $scheme, $color in $color-schemes {
    &.#{$scheme} {
      color: $color;
    }
  }
}
