@import '../themes';
@import '../mixins/aspect-ratio';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  grid-gap: 1.5em;
  margin-top: 1em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.full-width {
    width: 100%;
  }
}

.title {
  @each $theme, $color in $themes {
    &.#{$theme} {
      color: $color;
    }
  }
}

@media (max-width: 800px) {
  .grid {
    grid-gap: 1em;
  }
}
