@import '../color-schemes';
@import '../mixins/aspect-ratio';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5em;
  margin-top: 1.5em;
}

.heading {
  display: flex;
  align-items: center;
}

.title {
  @each $scheme, $color in $color-schemes {
    &.#{$scheme} {
      color: $color;
    }
  }
}
