@import '../themes';

.wrapper {
  width: 100%;

  @each $theme, $color in $themes {
    &.#{$theme} {
      :global {
        .plyr__control--overlaid {
          background: transparentize($color, 0.2);
        }

        .plyr--full-ui input[type="range"] {
          color: $color;
        }

        .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded="true"] {
          background: $color;
        }

        .plyr__control.plyr__tab-focus,
        .plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track,
        .plyr--full-ui input[type=range].plyr__tab-focus::-moz-range-track,
        .plyr--full-ui input[type=range].plyr__tab-focus::-ms-track {
          box-shadow: 0 0 0 5px transparentize($color, 0.5);
        }

        .plyr__control--overlaid {
          background: transparentize($color, 0.2);
        }

        .plyr__control--overlaid:focus, .plyr__control--overlaid:hover {
          background: $color;
        }

        .plyr__menu__container .plyr__control[role="menuitemradio"][aria-checked="true"]::before {
          background: darken($color, 5%);
        }
      }
    }
  }
}
