@import '../mixins/aspect-ratio';
@import '../mixins/link';
@import '../color-schemes';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.crumb {
  display: flex;
  align-items: center;
  white-space: nowrap;

  .icon {
    @include aspect-ratio(1, 1);

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 1em;
    margin-right: .3em;
    transform: translateY(-.07em);
  }

  @each $scheme, $color in $color-schemes {
    .link.#{$scheme} {
      @include link($color);
    }
  }

  &.disabled {
    pointer-events: none;
  }
}

.separator {
  font-size: 2.5em;
  font-weight: 900;
  height: .6em;
  margin: 0 .4em;
}
