@import '../variables';
@import '../themes';
@import '../mixins/aspect-ratio';

.wrapper {
  background-color: $dark-grey;

  display: flex;
  align-items: center;
  padding: .5em 1.5em;
  transition: all 150ms linear;

  overflow: hidden;
  width: 100%;

  cursor: pointer;

  .number {
    white-space: nowrap;
  }

  .title {
    margin-left: 1em;
  }

  &:nth-child(2n) {
    background-color: lighten($dark-grey, 5%);
  }

  &:hover {
    background-color: $white;
    color: $black;
  }

  @each $theme, $color in $themes {
    &:hover.#{$theme} {
      background-color: $color;
    }
  }
}
