.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.layout {
  padding: 4em 0;
  width: 80%;
  max-width: 1600px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.menu {
  margin-left: 1em;
}

.menu-item {
  opacity: .6;
  font-size: .7em;
  margin-left: 1em;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  .layout {
    width: 90%;
    padding: 2em 0;
  }

  .header {
    flex-direction: column;
  }

  .menu {
    margin-left: 0;
    margin-top: 1em;
  }
}
