@import '../variables';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.layout {
  padding: 4em 0;
  width: 80%;
  max-width: 1600px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

@media (max-width: 800px) {
  .layout {
    width: 90%;
    padding: 2em 0;
  }

  .header {
    flex-direction: column;
  }
}
