.popUpWrapper {
    position: fixed;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
    opacity: 0.8;
    z-index: 50;
}

.popUp{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    //display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 20px;
    border-style:none;
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
    background-color:#270908;
    margin: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    transform: translate(-50%, -50%);
}
.popUp>div{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 5px;
    min-height: 40px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-style: none;
    width: 100%;
    padding: 5%;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: #ccc;
    overflow: auto;
}
.popUp>button {
    text-align: center;
}
.alert{
    width: 100% !important;
}

.g{
    margin: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 500px;
    transform: translate(-50%, -50%);
}
.g>div{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: calc(100% -108px);
    margin: 0;
    padding: 0;
    border-style: none;
    border-color: #ccc;
}