.wrapper {
  width: 100%;
}

:global .plyr__video-wrapper {
  height: calc(100vh - 10em);
  display: flex;
  justify-content: center;
  min-height: 20em;
  max-width: 100%;

  @media (max-width: 800px) {
    min-height: 10em;
  }
}
