@import '../../mixins/input';
@import '../../variables';
@import '../../themes';

.button {
  @include input;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 6em;

  cursor: pointer;
  transition: all 100ms linear;

  .icon {
    color: $dark-grey;
    font-size: .7em;
    margin-right: .7em;

    transition: color 100ms linear;
  }

  .content {
    white-space: nowrap;
  }

  &:hover {
    background-color: $grey;
    border-color: $grey;
    color: $white;

    .icon {
      color: $white;
    }
  }

  &.disabled {
    pointer-events: none;
    background-color: $grey;
    color: transparentize($dark-grey, .5);

    .icon {
      color: transparentize($dark-grey, .5);
    }
  }

  &.light {
    border-color: $grey;
    background-color: transparent;
    color: $grey;

    .icon {
      color: $grey;
    }

    &:hover {
      border-color: $light-grey;
      background-color: transparent;
      color: $light-grey;

      .icon {
        color: $light-grey;
      }
    }

    &.disabled {
      pointer-events: none;
      border-color: $dark-grey;
      color: $dark-grey;

      .icon {
        color: $dark-grey;
      }
    }
  }

  @each $theme, $color in $themes {
    &.#{$theme} {
      &:hover {
        background-color: $color;
        border-color: $color;
      }

      &.light:hover {
        border-color: $color;
        background-color: transparent;
        color: $color;

        .icon {
          color: $color;
        }
      }
    }
  }
}
