@font-face {
  font-family: 'Circe';
  src: url('/static/fonts/circe-extra-light.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'Circe';
  src: url('/static/fonts/circe-light.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'Circe';
  src: url('/static/fonts/circe-regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Circe';
  src: url('/static/fonts/circe-bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: url('/static/fonts/circe-extra-bold.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-extra-light.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-extra-light-italic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-light-italic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-regular-italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-bold-italic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/ssp-black-italic.ttf');
  font-weight: 900;
  font-style: italic;
}
